@using NavigaMagazin.Models.Entity
@foreach (var haberler in Model)
{

    <div class="col-xs-6 col-sm-6 col-md-6 col-padding">
        <div class="grid-item">
            <div class="grid-item-img">
                <a href="@Url.Action("Oku","Home", new { url = haberler.url })">
                    <img src="@haberler.postphoto" class="img-responsive" alt="@haberler.posttitle">
                    @*<div class="link-icon"><i class="fa fa-camera"></i></div>*@
                </a>
            </div>
            <h5><a href="@Url.Action("Oku","Home", new { url = haberler.url })" class="title">@haberler.posttitle</a></h5>
            <ul class="authar-info">
                <li>@haberler.releasetime.ToString("dd.MM.yyyy")</li>
                <li class="like hidden-sm">@haberler.postlike</li>
            </ul>
            <p>@haberler.postspottext</p>
            
        </div>
    </div>

}



