@using NavigaMagazin.Models.Entity

@foreach (var rota in Model)
{

    <div class="col-xs-6 col-sm-6 col-md-6 col-padding">
        <div class="grid-item">
            <div class="grid-item-img">
                <a href="@Url.Action("Oku","Home", new { url = rota.url })">
                    <img src="@rota.postphoto" class="img-responsive" alt="@rota.posttitle">
                    @*<div class="link-icon"><i class="fa fa-camera"></i></div>*@
                </a>
            </div>
            <h5><a href="@Url.Action("Oku","Home", new { url = rota.url })" class="title">@rota.posttitle</a></h5>
            <ul class="authar-info">
                <li>@rota.releasetime.ToString("dd.MM.yyyy")</li>
                <li class="like hidden-sm">@rota.postlike</li>
            </ul>
            <p>@rota.postspottext</p>
        </div>
    </div>

}


