@using NavigaMagazin.Models.Entity
@{
    ViewBag.Title = "UserSearch";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
<div class="page-header row no-gutters py-4">
    <div class="col-6 col-sm-6 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Aranan Kullanıcı : @ViewBag.Words</span>
    </div>
    <div class="col-6 col-sm-6 text-center mb-0 ">
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal2">Kullanıcı Ara</button>
    </div>
</div>

<div class="row">
    @foreach (var users in Model)
    {
        <div class="col-lg-3">
            <div class="card card-small mb-4 pt-3">
                <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                        <img class="rounded-circle" src="@users.userphoto" alt="User Avatar" width="110" height="150">
                    </div>
                    <h4 class="mb-2">@users.username @users.usersurname</h4>

                    <a href="@Url.Action("UserDelete", "User" , new { id = users.id })" onclick="return confirm('Bu Kullanıcıyı Silmek İstediğinize Emin Misiniz?')">
                        <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
                            <i class="material-icons mr-1"></i>Sil
                        </button>
                    </a>
                    <a href="@Url.Action("UserUpdate", "User" , new { id = users.id })">
                        <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
                            <i class="material-icons mr-1"></i>Düzenle
                        </button>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-4">
                        <div class="progress-wrapper">
                            <strong class="text-muted d-block mb-2 text-center">@users.UserRoleTable.rolename</strong>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }

</div>



<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form action="@Url.Action("UserSearch", "User")" method="post">
                <input type="text" class="form-control" placeholder="Kullanıcı Adı veya E-Maili ile arama yapabilirsiniz." name="searchkey">
            </form>
        </div>
    </div>
</div>